@using eTicketing.Data.ViewModel
@model ShoppingCartVM
@{
    ViewData["title"] = "Shoping Card Summary";
}
<div class="row">
    <div class="col-md-8 offset-2">
        <div class="text-center">
            <h1>Your Shopping cart summary</h1>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th>Selected Amount</th>
                    <th>Movie</th>
                    <th>Price</th>
                    <th>Subtotle</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.shopingCart.ShopingCartItems)
                {
                    <tr>
                        <td class="align-middle">@item.Amount</td>
                        <td class="align-middle">@item.Movie.Name</td>
                        <td class="align-middle">@item.Movie.Price.ToString("c")</td>
                        <td class="align-middle">@((item.Amount * item.Movie.Price).ToString("c"))</td>
                        <td class="align-middle">
                            <a class="text-danger" asp-controller="Orders" asp-action="RemoveFromShippingCart"
                            asp-route-id="@item.Movie.Id"><i class="bi bi-cart-dash"></i></a> |
                             <a class="text-success" asp-controller="Orders" asp-action="AddToShippingCart"
                            asp-route-id="@item.Movie.Id"><i class="bi bi-cart-plus"></i></a>
                        </td>
                        
                    </tr>

                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2"></td>
                    <td><b>Total:</b></td>
                    <td>
                        @Model.ShoppingCartTotal.ToString("c")
                    </td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
        <div >
            <div class="row">
                <div class="col-md-6 align-content-start">
                   <a class="btn btn-outline-success align-content-end" asp-controller="Movie" asp-action="Index">Add More Items</a>
                </div>
                <div class="col-md-6 align-content-end">
                      <div id="paypal-btn"></div>
                   
                </div>
            </div>
        </div>
    </div>

</div>
@section Scripts{
   <script src= "https://www.paypalobjects.com/api/checkout.js"></script> 
    <script>
        let _total =@Html.Raw(@Model.ShoppingCartTotal)
paypal.Button.render({
    //configur env
    env: 'sandbox',
    client: {
        sandbox: "AUwHYMomcllWUmfOKQsI32ZKdB2udUNmpA-LMah3h6UgP-OvkQgnXRzZOcZb0djgrTiKuIrdxmKTN5jp"
    },
    //button custimize
    locale: 'en_US',
       Style: {
        size: 'small',
        color: 'gold',
        shape: 'pill'
    },
    commit: true,
    //payment setup
    payment: function(data, action) {
        return action.payment.create({
            transactions: [{
                amount: {
                    total: _total,
                    currency: 'USD'
                }
            }]
        });
    },
    //execute payment
    onAuthorize: function(data, action) {
        return action.payment.execute().then(function() {
            var url = '@Url.Action("CompleteOrder","Orders",new { })';
            window.location.href = url;
        });
    }
}, '#paypal-btn');

    </script>
}